:root {
  --primary-color: #004a80; /* Cor primária */
  --secondary-color: #000; /* Cor secundária */
  --accent-color: #fff; /* Cor de destaque */
  --text-color: #00508a; /* Cor do texto principal */
  --text-secondary-color: #000; /* Cor do texto secundário */
  --button-bg-color: #333; /* Cor de fundo do botão */
  --button-text-color: #fff; /* Cor do texto do botão */
  --button-hover-bg-color: #00c0f4; /* Cor de fundo do botão ao passar o mouse */
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto:wght@100;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

/* Navegação */
header nav {
  background-color: var(--primary-color);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px; /* Altura do menu */
  position: fixed; /* Fixa o menu na parte superior */
  top: 0; /* Posiciona o menu no topo */
  left: 0; /* Posiciona o menu no canto esquerdo */
  right: 0; /* Posiciona o menu no canto direito */
  z-index: 999; /* Define uma camada superior para o menu */
}

/* Lista de menu */
.menu ul,
.social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li,
.social li {
  display: inline;
  margin-right: 10px;
}

.menu li a,
.social li a {
  text-decoration: none;
  color: var(--secondary-color);
}

.menu li a:hover,
.logo a:hover,
.social li a:hover {
  color: var(--secondary-color);
}

.social li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 16px;
}

.social li a:hover {
  color: #ccc;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px; /* Ajuste a altura desejada */
  width: 60px; /* Ajuste a largura desejada */
  border-radius: 50%;
  background-color: var(--secondary-color);
}

.logo a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
  font-family: "Caveat", cursive;
}

/* Animações Hover */
.menu li a,
.logo a,
.social li a {
  transition: color 0.3s ease;
}

.menu li a:hover,
.logo a:hover,
.social li a:hover {
  color: var(--accent-color);
}

/* Estilos gerais */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.section {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; /* Define a altura da seção como 100% da altura da janela */
}

h1,
h2,
h3 {
  color: var(--text-color);
}

p {
  color: var(--text-secondary-color);
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

/* ----------------------------- Estilos para a seção home ----------------------------- */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  line-height: 1.5;
  height: 100vh; /* Define a altura da seção como 100% da altura da janela */
}
.imagemperfil img {
  max-width: 200px;
  border-radius: 50%;
}
/* Estilo para o título */
.apresentação h1 {
  font-size: 28px;
  color: #333;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
}

/* Estilo para o parágrafo */
.apresentação p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  text-align: center;
}

/* Estilo para os botões */
#home button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  background-color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Estilo para os links dos botões */
#home button a {
  text-decoration: none;
  color: inherit;
}

/* Estilo para a animação dos botões */
#home button {
  transition: background-color 0.3s ease;
}

/* Estilo para a animação do botão de currículo */
#home .curriculo {
  background-color: #f60;
}

/* Estilo para a animação do botão de contato */
#home .contato {
  background-color: #0c0;
}
/* Estilo para o hover dos botões */
#home button:hover {
  background-color: #555;
}
/* ---------------------- Estilos para a seção sobre --------------------------- */
#sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 25px;
  line-height: 1.5;
  height: 100vh; /* Define a altura da seção como 100% da altura da janela */
}
.card-sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  line-height: 1.5;
}
.sobremim {
  margin-bottom: 20px;
}

.perfil img {
  max-width: 300px;
}

/* ------------------- Estilo para as habilidades e formação -----------------------------*/
.card-habilidades {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

/* Estilo para a lista de habilidades */
.card-habilidades .habilidades ul {
  list-style-type: none;
  padding: 0;
}

/* Estilo para os ícones das habilidades */
.card-habilidades .habilidades li i {
  margin-right: 5px;
}

/* Estilo para o título de habilidades e formação */
h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
.tecnologias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

/* ----------------------------- Estilos para a seção projetos ---------------------------- */
.projetos {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.cards:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-imagem img {
  max-width: 100%;
}

.card-texto {
  padding: 20px;
}

.card-1 {
  margin-bottom: 10px;
}

.card-2 {
  display: flex;
  align-items: center;
}

.card-2 img {
  width: 20px;
  margin-right: 5px;
}

/* Estilos para a seção contato */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--button-hover-bg-color);
}

/* Footer */
footer {
  background-color: var(--primary-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-footer span {
  color: red;
}

.logo-footer a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
}
